.no-results {
  margin: 10% auto 5% !important;
  width: 80%;
}

.history h2 {
  text-transform: uppercase;
  font-size: 34px;
}

/* LIGHT MODE */

#light .no-results {
  color: #023d48;
}

#light .history {
  color: #023d48;
}

/* DARK MODE */

#dark .no-results {
  color: #002f38;
}

#dark .history {
  color: #002f38;
}

@media (max-width: 768px) {
  .curr-res {
    width: 85%;
  }
}
