.input-search-city {
  width: 50%;
  font-weight: bold;
}

.btn-search {
  margin-left: 3% !important;
  padding: 1% !important;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 0.3s;
}

/* LIGHT MODE STYLES */

#light .input-search-city {
  border: 1px solid #015a6b;
  color: #015a6b;
}

#light .input-search-city::placeholder {
  color: #81b7c2;
  font-weight: bold;
}

#light .btn-search {
  color: #015a6b;
  background-color: #fff;
  border-color: #015a6b;
}
#light .btn-search:hover {
  background-color: #015a6b;
  color: #fff;
}

/* DARK MODE STYLES */

#dark .input-search-city {
  background-color: #fff;
  border: 1px solid #023d48;
}

#dark .input-search-city::placeholder {
  color: #015a6b;
}

#dark .btn-search {
  background-color: #023d48;
  color: #fff;
  border: 1px solid #023d48;
}

#dark .btn-search:hover {
  background-color: #fff;
  color: #023d48;
}

@media (max-width: 768px) {
  .input-search-city {
    width: 70%;
  }
}
