@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", arial, sans-serif;
}

.weather_app {
  width: 80%;
  margin: 10% auto 0;
}

.weather_app h1 {
  position: relative;
  margin: 0 auto;
  padding: 25px;
  width: 400px;
  font-size: 36px;
  text-align: center;
}

.weather_app h1 > * {
  position: absolute;
}

.weather_app h1 .cloud {
  top: 24px;
  right: 28px;
  font-size: 32px;
  z-index: 2;
  color: lightblue;
  animation: cloud 3s ease-out both infinite;
}

.weather_app h1 .sun {
  top: 15px;
  right: 49px;
  font-size: 28px;
  color: #e8f406;
  animation: sun 10s linear infinite both;
  z-index: 1;
}

@keyframes sun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .weather_app {
    width: 100%;
  }
}
